<h2>
  <%= @user.username %>
  <% if not @user.active  %>
      <span class="label label-info">account frozen</span>
  <% end %>
</h2>

<div>
  <% if @user.ratings.empty? %>
    This user has made no ratings
  <% else %>
	 Has made <%= pluralize(@user.ratings.count, "rating") %>, average <%= round(@user.average_rating) %>
  <% end %>
</div>

<% if @user.ratings.any? %>
  <p>Favorite style <%= @user.favorite_style.name %></p>

  <p>Favorite brewery <%= @user.favorite_brewery.name %></p>
<% end %>

<div>
  <% if @user.beer_clubs.empty? %>
    Is not a member of a club
  <% else %>
    Is a member of
    <ul>
      <% @user.beer_clubs.each do | beer_club| %>
      <li> <%= link_to beer_club.name, beer_club %> </li>
      <% end %>
    </ul>
  <% end %>
</div>

<p>Ratings</p>

<ul>
	<% @user.ratings.each do |rating| %>
   		<li> 
   			<%= rating %>
        	<% if @user == current_user %>
            	<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        	<% end %> 
   		</li>
 	<% end %>
</ul>

<% if current_user and current_user.admin? %>
    <% if @user.active %>
      <%= link_to "freeze account", toggle_activity_user_path(@user), method: :post, class: 'btn btn-danger btn-xs' %>
    <% else %>
      <%= link_to "activate account", toggle_activity_user_path(@user), method: :post, class: 'btn btn-success btn-xs' %>
    <% end %>
<% end %>

<% if current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
